@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="jumbotron">
        <h1>This the first app deployed by Nexon Samuel in Azure</h1>
        <p class="lead">This is a simple app that we've built that demonstrates how to deploy a .NET app to Azure App Service.</p>
    </div>
